.container{
    height: max-content;
    width: auto;
    padding: 5px 10px;
}

.dropzone{
    width: 100%;
    height: 100%;
    min-height: 250px;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.photo_picker_drop_zone_error{
    border: 1px solid #ff0000;
}

.photo_picker_input_container{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    /*background-image: url(img/icons/add-file-black-96x96.png);*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(220, 220, 220, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_picker_input_container:hover .add_cliente_tooltip{
    opacity: 1;
}

.photo_picker_input{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.photo_picker_input_container_2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow-x: auto;
    overflow-y: auto;
    background: #ffffff;
    transition: all .3s;
    opacity: 0;
    cursor: copy;
}

.photo_picker_input_container_2_show{
    border: 2px dashed #a6a6a6;
    opacity: 1;
    height: 100%;
}

.photo_picker_input_container_2 > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #a6a6a6;
    text-align: center;
}

.preview{
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.photo_picker_preview_pdf{
    width: 100%;
    height: 100%;
}

.preview_container{
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
    height: 300px;
}

.photo_picker_preview_download{
    position: absolute;
    right: 0;
    background-color: #2d628d;
    border-radius: 5px;
}

.photo_picker_preview_download_icon{
    width: 30px;
    height: 30px;
    transition: all .3s;
}

.photo_picker-preview_download_icon:hover{
    opacity: 1;
    width: 33px;
    height: 33px;
}

.add_portada_input_img{
    width: 0;
    height: 0;
    opacity: 0;
}

.input_container_simple{
    padding: 5px 10px;
}

.input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px 15px 10px 10px;
    background: #f9f9f9;
}

.input_error{
    border: 1px solid #ff0000 !important;
}

.input_error_container{
    display: grid;
    grid-template-columns: 20px auto;
    margin-top: 5px;
}

.input_error_img{
    width: 15px;
}

.input_error_p{
    color: #ff0000;
    font-style: italic;
    font-size: 12px;
}

.input_success_p{
    color: #14910d;
    font-style: italic;
    font-size: 12px;
}

.input_warning_p{
    color: #ff9500;
    font-style: italic;
    font-size: 12px;
}

.input:read-only{
    color: #939393;
}

.label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
}

.add_cliente_tooltip{
    position: absolute;
    width: max-content;
    background: #000000;
    color: #ffffff;
    transition: all .3s;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
  }
  
  .add_cliente_tooltip::before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
  
    border-top: 8px solid black;
    border-bottom: 8px solid transparent;
    border-right:8px solid transparent;
    border-left:8px solid transparent;
    bottom: -15px;
    left:50%;
    transform: translateX(-50%);
  }
  
  .add_cliente:hover .add_cliente_tooltip{
    opacity: 1;
  }
  
  .add_cliente_2:hover .add_cliente_tooltip{
    opacity: 1;
  }